---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
</head>
<body class="h-screen w-screen bg-zinc-700">
    <div class="text-zinc-400 text-2xl h-full w-full flex justify-center flex-col items-center ">
        <p class="p-4 m-2 flex flex-col">
            <span class="bg-gradient-to-r from-amber-500 to-amber-300 bg-clip-text text-transparent">
                404. You have wandered into no content land.
            </span>
        </p>

        <div class="">
            Go Back to
            <span class="bg-gradient-to-r from-amber-500 to-amber-300 bg-clip-text text-transparent">
                HOMEPAGE
            </span>
        </div>
    </div>
</body>
</html>